# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master, '0.2.0' ]
    paths:
      - 'common/**'
      - 'fabric/**'
      - 'forge/**'
      - '*.gradle'
      - 'gradle.properties'
  pull_request:
    branches: [ master, '0.2.0' ]  
  workflow_dispatch:
      branches: [ master, '0.2.0' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew --info build
    - name: Upload Mod
      uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: modjars
        path: |
          forge/build/libs/*-forge.jar
          fabric/build/libs/*-fabric.jar
